*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    width : 100vw ;
    height: 100vh;
}
.sifrao{
    background-color: lightsteelblue;
    border: 1px solid black;
    padding: 2px;
    height: 20px;
}
.real{
    text-align: right;
}

#tela-inicial header{
    display: flex;
    background-color: lightgrey;
    padding: 10px;
}
#tela-inicial header ul{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
#tela-inicial header label{
    font-weight: bold ;
}

#seletor-graficos{
    background-color: #daf2d0;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 10px;
}
#seletor-graficos ul{

}
#seletor-graficos ul li{
    
}
#seletor-graficos ul li:first-child{
    text-align: center;
}

#seletor-graficos #periodo-grafico{
    display: flex;
}
#info-grafico{
    display: grid;
    width: 100%;
    height: 70%;
    background-color: #f4fdf0;
}

#info-grafico #grafico{
    justify-self: center;
    align-self: center;
    width: 80%;
    display: grid;
    height: 70%;
    justify-items: center;
}


#tela-dia{
    overflow-y:auto; 
    flex-direction: column;
    background-color: #f5d7e6b7;
    position: absolute;
    display: none;
    width: 75%;
    height: 75%;
    justify-self: center;
    align-self: center;
    border-radius: 2%;
    border: 1px solid black;
}
#tela-dia #topo-dia{
    width: 100%;
    position: absolute;
    display: grid;
    padding: 3px 0px;

}
#tela-dia #sair-dia{
    margin-right: 10px;
   border-radius:  35%;   
    width: max-content;
    height: max-content;
    padding: 8px;
    cursor: pointer;
    justify-self: right;
    color: white;
    background-color: red;
}
#tela-dia #titulo-dia{
    border-radius: 5% 5% 0 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    background-color: #a6c9ec;
    height: 12.5%;
    align-items: center;
    
}
#tela-dia #titulo-dia label{
    font-weight: bold;
}
#tela-dia #financias-dia{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#tela-dia #financias-dia div{
    margin: 5px 0;
}
#tela-dia #financias-dia #caixa{
    width: 100%;
    padding-left: 10px;
}

#tela-dia #financias-dia #caixa table tr:first-child{
    padding-bottom: 5px;
    background-color: lightgreen;
}
#tela-dia #financias-dia #caixa table tr:last-child{
    background-color: lightsalmon;
}

#tela-dia #financias-dia #caixa table tr td{
    margin:0;
    padding: 3px;
    
}
#tela-dia #financias-dia #caixa table tr td:first-child{
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000;
}
#tela-dia #financias-dia #caixa table tr td:last-child{
    font-weight: bold;
}
#tela-dia #financias-dia #caixa table tr td .sifrao{
    padding:5px;
}
#tela-dia #financias-dia #caixa table tr td input{
    height: 20px;
    padding: 3px;
}
#tela-dia #financias-dia #despesas-vendas{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;

}

#tela-dia #financias-dia #vendas{
    background-color:#daf2d0 ;
    width: max-content;
    padding: 10px;
    text-align: center;
}
#tela-dia #financias-dia #vendas li{
    padding: 5px;
    text-align: right;
}
#tela-dia #financias-dia #vendas li:first-of-type{
    text-align: center;
}
#tela-dia #financias-dia #vendas li input{
    height: 20px;
    
}
#tela-dia #financias-dia #vendas li h3{
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid black;
}
#tela-dia #financias-dia #vendas li h4{
    text-align: right;
}
#tela-dia #financias-dia #despesas{
    background-color: #f5c6ab;
    width: max-content;
    padding: 10px;
}
#tela-dia #financias-dia #despesas li{
    text-align: right;
    padding: 5px;
}
#tela-dia #financias-dia #despesas li{
    text-align: right;
    padding: 5px;
}

#tela-dia #financias-dia #despesas li h3{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid black;
}
#tela-dia #financias-dia #despesas li input{
    height: 17px;
    padding: 3px;
}
#tela-dia #financias-dia #despesas li input:first-child{
    margin-left: 25px;
}
#tela-dia #financias-dia #despesas button{
    padding: 3px 5px;
}

#tela-dia #financias-dia #horarios{
    background-color: #dae9f8;
    width: max-content;
    padding: 10px;
}
#tela-dia #financias-dia #horarios{
    justify-items: center;
    width: 100%;

}
#tela-dia #financias-dia #horarios table{
    width: 100%;
}
#tela-dia #financias-dia #horarios table tr{
    width: 80%;
}
#tela-dia #financias-dia #horarios table tr td{
    text-align: center;
    
}
#tela-dia #financias-dia #horarios table tr:first-child{
    font-weight: bold;
    font-size: 32px;
}
#tela-dia #financias-dia #horarios table tr td input{
    height: 14px;
    padding: 3px;
    width: 80%;
}
#tela-dia #financias-dia #horarios button{
    padding: 3px 5px;

}

#tela-dia #save-dia{
    width: 100%;
    padding: 10px;
    align-self:baseline;
}
